#mapContainer {
	width: 100%;
	height: 80vh;
	background-color: #333;
}

[class*="copyrights-pane"] {
	display: none !important;
}



.balloon__address {
	color: yellow;
}

.balloon a {
	color: red;
}

[class*="balloon__close-button"] {
	opacity: 1;
}
.category-button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .customControl {
	display: none;
	position:absolute; left: 35%;
	background-color: #fff;
	padding: 5px;
	border-radius: 3px;
	width: 30%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.closeButton {
	flex-basis: 15px;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 3px;
	height: 25px;
	cursor: pointer;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQgLjdsLS43LS43TDcgNi4zLjcgMCAwIC43IDYuMyA3IDAgMTMuM2wuNy43TDcgNy43bDYuMyA2LjMuNy0uN0w3LjcgN3oiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") 50% no-repeat;
	opacity: 0.3;
}

.content {
	padding: 5px;
	max-height: 250px;
	text-align: center;
	overflow: auto;
}

a, a:visited {
	color: #04b;
	text-decoration: none !important;
}